.mainBox {
  margin: 40px 275px 60px 275px;

  & h2 {
    font-size: 4rem;
    color: #555454;
  }
  
}

.contentBox {
  color: #2d2d2d;

  & p {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.2rem;
  }

  & h3 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-bottom: 15px;
    color: #65522d;
  }
  
  & img {
    width: 200px;
  }
  
}

p.centered {
  text-align: center;
}

.gold {
  color: #65522d;
  font-weight: bold;

}

.ceoNameRow {
  margin-bottom: 10px !important;
}

.ceoInfoRow {
  margin-top: 0;
}

.ceoName {
  font-size: 1.7rem;
}
