.container {
  height: 160px;
  border: 2px solid rgb(251, 251, 251);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px;
  padding: 25px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    height: 160px;
    width: 160px;
    object-fit: contain;
  }

  & .productInfo {
    color: #000;
    max-width: 450px;

    & .brand {
      color: #3d4047;
      text-align: left;
    }

    & .title {
      color: #2d2d2d;
      font-size: 2rem;
      font-weight: 500;
      line-height: 120%;
      text-align: left;
    }

    & .price {
      font-size: 3rem;
      color: #2d2d2d;
      font-weight: 400;
      text-align: left;
    }

    & .specs {
      color: #565b64;
      font-size: 1.2rem;
      text-align: left;
    }

    & .specs span:not(:last-child)::after {
      content: " • ";
      color: #65522d;
    }
  }

}

.quantityBox {
  display: flex;
  flex-direction: row;
  gap: 10px;


  & .amountChangeBox {
    display: flex;
    flex-direction: row;
    border: 1px solid #c2c2c2;
    padding: 0;
    border-radius: 30px;

    & .decreaseAmountButton {
      border: none;
      cursor: pointer;
      width: 20px;
      background: none;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1taW51cy1pY29uIGx1Y2lkZS1taW51cyI+PHBhdGggZD0iTTUgMTJoMTQiLz48L3N2Zz4=");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px 20px;
      margin-left: 10px;
      margin-right: 10px;
      
    }

    & .increaseAmountButton {
      border: none;
      cursor: pointer;
      width: 20px;
      background: none;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wbHVzLWljb24gbHVjaWRlLXBsdXMiPjxwYXRoIGQ9Ik01IDEyaDE0Ii8+PHBhdGggZD0iTTEyIDV2MTQiLz48L3N2Zz4=");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    & .amountText {
      color: #2d2d2d;
      font-weight: 500;
      line-height: 100%;
      font-size: 1.8rem;
      padding: 2px 5px;
      text-align: center;
      width: 30px;
    }
  }

  & .removeItemButton {
      border: none;
      cursor: pointer;
      width: 20px;
      background: none;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10cmFzaDItaWNvbiBsdWNpZGUtdHJhc2gtMiI+PHBhdGggZD0iTTEwIDExdjYiLz48cGF0aCBkPSJNMTQgMTF2NiIvPjxwYXRoIGQ9Ik0xOSA2djE0YTIgMiAwIDAgMS0yIDJIN2EyIDIgMCAwIDEtMi0yVjYiLz48cGF0aCBkPSJNMyA2aDE4Ii8+PHBhdGggZD0iTTggNlY0YTIgMiAwIDAgMSAyLTJoNGEyIDIgMCAwIDEgMiAydjIiLz48L3N2Zz4=");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px 20px;
      border: 1px solid #c2c2c2;
      border-radius: 30px;
      width: 34.8px;
    }

  & .favoriteItemButton {
    border: none;
    cursor: pointer;
    width: 20px;
    background: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1oZWFydC1pY29uIGx1Y2lkZS1oZWFydCI+PHBhdGggZD0iTTIgOS41YTUuNSA1LjUgMCAwIDEgOS41OTEtMy42NzYuNTYuNTYgMCAwIDAgLjgxOCAwQTUuNDkgNS40OSAwIDAgMSAyMiA5LjVjMCAyLjI5LTEuNSA0LTMgNS41bC01LjQ5MiA1LjMxM2EyIDIgMCAwIDEtMyAuMDE5TDUgMTVjLTEuNS0xLjUtMy0zLjItMy01LjUiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    border: 1px solid #c2c2c2;
    border-radius: 30px;
    width: 34.8px;
    transition: 0.1s ease;

    &:hover {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1oZWFydC1wbHVzLWljb24gbHVjaWRlLWhlYXJ0LXBsdXMiPjxwYXRoIGQ9Im0xNC40NzkgMTkuMzc0LS45NzEuOTM5YTIgMiAwIDAgMS0zIC4wMTlMNSAxNWMtMS41LTEuNS0zLTMuMi0zLTUuNWE1LjUgNS41IDAgMCAxIDkuNTkxLTMuNjc2LjU2LjU2IDAgMCAwIC44MTggMEE1LjQ5IDUuNDkgMCAwIDEgMjIgOS41YTUuMiA1LjIgMCAwIDEtLjIxOSAxLjQ5Ii8+PHBhdGggZD0iTTE1IDE1aDYiLz48cGF0aCBkPSJNMTggMTJ2NiIvPjwvc3ZnPg==");
    }
  }

  & .shareItemButton {
    border: none;
    cursor: pointer;
    width: 20px;
    background: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zaGFyZS1pY29uIGx1Y2lkZS1zaGFyZSI+PHBhdGggZD0iTTEyIDJ2MTMiLz48cGF0aCBkPSJtMTYgNi00LTQtNCA0Ii8+PHBhdGggZD0iTTQgMTJ2OGEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJ2LTgiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    border: 1px solid #c2c2c2;
    border-radius: 30px;
    width: 34.8px;
    transition: 0.1s ease-in-out;

    &:hover {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2NTUyMmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zaGFyZS1pY29uIGx1Y2lkZS1zaGFyZSI+PHBhdGggZD0iTTEyIDJ2MTMiLz48cGF0aCBkPSJtMTYgNi00LTQtNCA0Ii8+PHBhdGggZD0iTTQgMTJ2OGEyIDIgMCAwIDAgMiAyaDEyYTIgMiAwIDAgMCAyLTJ2LTgiLz48L3N2Zz4=");
    }
  }
}

.centerContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;

  & .productInfo {
    align-items: flex-start;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: right;
  gap: 80px;
  margin-left: auto;
  margin-right: 10px;
}

.ratingStars {
  color: #f5da61;
  font-size: 1.5rem;
}

.ratingNumber {
  color: #565b64;
  font-size: 1.5rem;
}

.price {
  color: #3b3b3b;
  font-size: 2rem;
  font-weight: bold;
}

.ratingBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}