.mainBox {
  margin: 40px 275px 60px 275px;

  & h2 {
    font-size: 4rem;
    color: #555454;
  }
  
}

.contentBox {
  color: #2d2d2d;

  & p {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.2rem;
  }

  & h3 {
    font-size: 1.7rem;
    margin-top: 60px;
    margin-bottom: 15px;
    color: #65522d;
  }
  
  & img {
    width: 200px;
  }

  & ul {
    width: 750px;
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 50px;
  }

  & ul li:not(:last-child) {
    margin-bottom: 15px;
  }

  & strong a {
    color: black;
  }

  & li::marker {
  color: #65522d;
  }

  & details {
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & p {
      margin-top: 10px;
      color: #383838;
    }

}


  & details > summary {
    font-size: 1.4rem;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjMmMyYzIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLXJpZ2h0LWljb24gbHVjaWRlLWNoZXZyb24tcmlnaHQiPjxwYXRoIGQ9Im05IDE4IDYtNi02LTYiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: left center;

    &::-webkit-details-marker {
      display: none;
    }
  }

  & details[open] > summary {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNjMmMyYzIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=");
  }

  
  
}

p.centered {
  text-align: center;
}

.gold {
  color: #65522d;
  font-weight: bold;

}


.date {
  margin-top: -30px;
  color: #555454;
}

