.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


.categoryButton {
  /*background-color: rgb(85, 81, 81);
  padding: 3px 5px;
  margin: 0;
  width: 130px;
  height: 35px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.781);
  border-radius: 30px;
  border: 1px solid rgb(49, 49, 49);
  display: inline-block;
  cursor: pointer; */

  border: none;
  font-size: 22px;
  color: #353935;
  color: #b89554;
  background: none;
  font-weight: bold;
  cursor: pointer;
}


.categoryButton:hover {
  color: #91743f;
}

.categoryButton:not(:last-child) {
  border-right: 1px solid #c2c2c2;
  padding-right: 15px;
}

