footer {
    text-align: center;
    background-color: #e6e6e6;
    border-top: 1px solid #c2c2c2;
    height: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: #65522d;

    &:hover {
        color: #362a13;
    }
    
}

footer a {
  margin: 10px;
}

.copyrightFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 40px;
  background-color: #303030;
  margin-top: auto;
  border-top: 1px solid #c2c2c2;
  color: rgba(255, 255, 255, 0.904);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  
}

.copyrightFooter a {
  color: #d5b16d ;

  &:hover {
    color: #876f40;
  }
  
}