footer {
    text-align: center;
    background-color: #e6e6e6;
    border-top: 1px solid #c2c2c2;
    height: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: #02225D;
    margin: 10px;

    &:hover {
        color: #01112e;
    }
    
}

.copyrightFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 40px;
  background-color: #0b1c3b;
  margin-top: auto;
  border-top: 1px solid #c2c2c2;
  color: rgba(255, 255, 255, 0.904);
  
}