footer {
    text-align: center;
    background-color: #e6e6e6;
    border-top: 1px solid #c2c2c2;
    height: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-top: 20px;
    margin-top: 20px;

    & .divisor {
      color: #c2c2c2;
    }
}

a {
    text-decoration: none;
    color: #65522d;

    &:hover {
        color: #362a13;
    }
    
}

footer a {
  margin: 10px;
}

.copyrightFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 40px;
  background-color: #303030;
  margin-top: auto;
  border-top: 1px solid #c2c2c2;
  color: rgba(255, 255, 255, 0.904);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  
}

.copyrightFooter a {
  color: #d5b16d ;

  &:hover {
    color: #876f40;
  }
  
}

.socialsBox {
  margin-top: 30px;
  margin-bottom: 30px;
}

.socialsBox a {
  transition: filter 0.3s ease;

  
}

.socialsBox a:hover {
  filter: brightness(0) saturate(100%) invert(32%) sepia(21%) saturate(1115%) hue-rotate(346deg) brightness(73%) contrast(67%);
}

.legalNo {
  color: #2d2d2d;
  text-align: center;
  line-height: 30%;
}

.links a {
  font-weight: 500;
}