header {
border-bottom: 1px solid #c2c2c2;
border-top: 1px solid #c2c2c2;
background-color: #ececed;
margin: 0;
/* #e2e1e4 */
display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
}

h1 {
    text-align: left;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: right;
}

.searchBar {
  padding: 10px;
  width: 300px;
  border: 1px rgb(194, 194, 194) solid;
  border-radius: 50px;
  
}
